@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy-Regular.ttf') format('truetype');

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}
body {
<<<<<<< HEAD
  background-color: #faeddd;
=======
  background-color: #FAEDDD;
  font-family: 'Gilroy', sans-serif;
>>>>>>> master
}
header {
  display: flex;
  width: 100vw;
  margin-bottom: 5rem;
  justify-content: space-around;
  align-items: center;
  .logopic {
    width: 400px;
  }
  .nav a {
    padding-right: 2rem;
    text-decoration: none;
  }
}
button {
  width: 200px;
  height: 70px;
<<<<<<< HEAD
  background-color: #400e19;
=======
  background-color: #d4163f;
>>>>>>> master
  border: none;
  border-radius: 5cap;
  font-size: 18px;
  color: bisque;
}
main {
  margin-bottom: 5rem;
  text-align: center;
  background-color: green($color: #000000);
}
footer {
  text-align: center;
}
